body{
    font-family: Montserrat;
}
/*HEADER MENU*/
.contenedor-header{
    width:100%;
}
.barranav{
    background-color: #353A40;
    align-items: center;
    position:relative;
    z-index: 50;
    height:4rem;
}
.bg-nav{
    background-color: #353A40;
}
.navbar-toggler{
    border-style: none;
}
.navbar-toggler-icon{
    background-color: white;
    opacity: .2;
    padding:16px;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color:white;
}
.barranav .contenedor-nav{
    padding-left:5%;
    display:flex;
    width:50%;
    align-items:center;
}
.barranav .logo{
    width:5rem;
}
.barranav .tituloLogo{
    font-size: 1rem;
    font-weight: 600;
    color:white;
}
.barranav{
    font-size: 80%;
    padding:3%;
}
.navbar-collapse{
    width:100%;
}
.navbar-nav{
    width:100%;
    display:flex;
    justify-content: space-around;
    font-weight: 500;
}
.navbar-nav .nav-item .comprar-verde{
    color:#26A943;
}
.navbar-nav .nav-item .menu-gris{
    color:grey;
}
.barranav .container-fluid{
    background-color: #353A40;
}

/*BANNER CAROUSEL MAIN*/
.banner-filtro img{
    filter: brightness(30%);
}
.banner-texto{
    padding-top:10%;
    color:white;
    padding-left:48%;
    margin-right:9%;
}
.banner-texto p{
    line-height: 1.5rem;
}
.banner-texto .card-title{
    font-size: 2rem;
    font-weight: bold;
}
/*ORADORES SECCIÓN*/
.contenedor-oradores, .contenedor-form{
    margin-top:1rem;
    text-align: center;
    margin:3% 8% 8% 8%;
}

.contenedor-oradores .contenedor-cards .card-orador .card-body h3{
    text-transform: uppercase;
    font-weight: bold;
}
.contenedor-oradores h2 span, .contenedor-form h2 span{
    margin-top:.5rem;
    display:block;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.contenedor-oradores .contenedor-cards .card-orador .card-body p{
    color:rgb(36, 36, 36);
}
/*CAROUSEL CIUDAD ASIDE*/
.card-ciudad-text{
    color:white;
}
.bg-card-ciudad-text{
    background-color: #353A40;
}
/*FORMULARIO SECCIÓN*/
.contenedor-form p{
    text-transform:none;
}
.contenedor-form p span a{
    text-decoration: underline;
    text-decoration-style: dotted;
}
.mensaje-contenedor{
    text-align: left;
}
.texto-mensaje{
    font-size: 1.5rem;
}
.form-convocatoria{
    text-align: center;
    margin-top: 1rem;
}
/*FOOTER SECCIÓN*/
.footer{
    background-image: linear-gradient(
    45deg,
    hsl(200deg 43% 19%) 0%,
    hsl(200deg 45% 20%) 2%,
    hsl(200deg 47% 21%) 9%,
    hsl(201deg 49% 22%) 27%,
    hsl(201deg 51% 23%) 63%,
    hsl(201deg 53% 24%) 84%,
    hsl(202deg 54% 25%) 94%,
    hsl(202deg 55% 26%) 98%,
    hsl(202deg 56% 27%) 100%,
    hsl(203deg 57% 28%) 100%
  );
}
.footer .submenu{
    width:100%;
    display:flex;
    color:white;
    justify-content: space-around;
    padding:4%;
    align-items: center;
}
/*BOTONES COLORES BOOTSTRAP CAMBIOS*/
.btn-enviar{
    color:white;
    background-color:#96C93E;
}
.btn-enviar:hover, .btn-enviar:active, .btn-enviar:focus{
    background-color:#28A744;
    color:white;
}
.btn-comprar{
    background-color:#28A744;
    color:white;
    font-weight: bold;
}
.btn-comprar:hover, .btn-comprar:active, .btn-comprar:focus{
    background-color:#96C93E;
    color:white;
}
/*clase que se añade cuando con js se añade el header para que quede posicionado arriba de todo
el documento*/
.fixed-top{
    position:fixed;
}

/*######COMPRAR TICKETS######*/

.main-tickets-cards{
    display:grid;
    grid-template-columns:  repeat( auto-fit, minmax(auto, 20rem) );
    margin-top:6rem;
    justify-content: center;
    column-gap:.5rem;
}
.card-ticket{
    padding:5rem;
    display:flex;
    flex-direction: column;
    row-gap:1rem;
    justify-content: center;
}
.card-ticket.estudiante{
    border: solid blue;
}
.card-ticket.trainee{
    border: solid green;
}
.card-ticket.junior{
    border:solid yellow;
}

/*MEDIA QUERIES INDEX*/
/*####Desktop*/
@media (max-width: 1200px) { 
    .card-orador{
        width:60%;
    }
}
/*#####Tablets|Notebooks####*/
@media (max-width: 992px) { 
    .card-orador{
        width:80%;
    }
    .card-img-overlay {
        position:relative;
    }
    .banner-texto{
        background-color: #353A40;
        padding-top:10%;
        color:white;
        padding:5%;
        margin:0%;
    }
    .navbar-toggler, .navbar-toggler-icon{
        border:none;
        outline:none;
    }
    .barranav{
        padding:0%;
    }
}
/*#####Tablet####*/
@media (max-width: 768px) { 
    .footer .submenu{
        flex-wrap: wrap;
        flex-direction:column;
        row-gap:1rem;
    }
    .botones-card-banner{
        row-gap: 1rem;
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .banner-texto{
        padding:10%;
    }
    .contenedor-cards{
        display:flex;
        flex-direction: column;
    }
    .contenedor-cards{
        flex-wrap: wrap;
    }
}